<div class="container py-5 px-4">
  <div class="row rounded-lg overflow-hidden shadow">

    <%# CONVERSATION %>
    <div class="col-5 px-0">
      <div class="bg-white">

        <div class="bg-gray px-4 py-2 bg-light">
          <p class="h5 mb-0 py-1">Recent</p>
        </div>

        <div class="messages-box">
          <div class="list-group rounded-0">
          
            <%= render 'components/conversation_active' %>

            <%= render 'components/conversation_inactive' %>

          </div>
        </div>
      </div>
    </div>

    <%# CONVERSATION %>
    <div class="col-7 px-0">
      <div class="px-4 py-5 chat-box bg-white">

        <%= render 'components/message_sender' %>
        <%= render 'components/message_sender' %>
        <%= render 'components/message_receiver' %>
        <%= render 'components/message_sender' %>
        <%= render 'components/message_sender' %>
        <%= render 'components/message_receiver' %>

      </div>

      <%# TYPE NEW MESSAGE %>
      <form action="#" class="bg-light">
        <div class="input-group">
          <input type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
          <div class="input-group-append">
            <button id="button-addon2" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
