<!DOCTYPE html>
<html>
  <head>
    <title>Message Me</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <script>
    <% if notice %> toastr.success('<%= notice %>', 'Hooray!', { closeButton: true, progressBar: true, positionClass: 'toast-top-center'}) <% end %>
    <% if alert %> toastr.error('<%= alert %>', 'Oh no!', { closeButton: true, progressBar: true, positionClass: 'toast-top-center'}) <% end %>
  </script>

</html>
